@import "../../../vars.scss";

.check-button {
  margin: 0 auto;
  width: 100%;
  height: 48px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $homeButtonStandart;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    background: $homeButtonHover;
  }
  &:active {
    background: $homeButtonActive;
  }
}

.check-button.cancel {
  background: $buttonSlide3;
}

.check-button.disable {
  background: $mainGrayBright;
  pointer-events: none;

}
@media (min-width: 768px) {
  .check-button {
    margin-left: 32px;
    max-width: 287px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
}
