@import "../../../vars.scss";

.language {
  width: 47px;
  height: 47px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  &:hover {
    border: 1px solid $mainGrayBright;
    transition: 0.2s all;
  }

  &:active {
    .language__button {
      background-color: transparent;
      color: $mainAccentColor;
      transition: 0.2s all;
    }
  }
  &__button {
    background-color: transparent;
    color: #fff;
    transition: 0.2s all;
  }
  &--navigation {
    margin: 28px;
  }
}

//*------------------------------------

@media (min-width: 768px) {
  .language {
    &--navigation {
      display: none;
    }
  }
}
