@import "../../../../vars.scss";

.steps-item {
  position: relative;
  display: flex;
  align-items: center;
  &:not(:last-child)::after {
    content: "";
    position: relative;
    margin: 0 3px 0 3px;
    border: 3px solid transparent;
    border-left: 4px solid $mainGrayDark;
  }
  &.disable {
    &:not(:last-child)::after {
      border: 3px solid transparent;
      border-left: 4px solid $mainGrayBright;
    }

    pointer-events: none;
    & .steps-item__link {
      color: $mainGrayBright;
    }
  }
  &__link {
    margin-right: 5px;
    text-decoration: none;
    color: $mainGrayDark;
    font-size: 10px;
    font-weight: 700;
    &.active {
      color: $mainAccentColor;
    }
  }
}

@media (min-width: 1024px) {
  .steps-item {
    &__link {
      font-size: 12px;
    }
  }
}

@media (min-width: 1440px) {
  .steps-item {
    margin-right: 10px;
    &:not(:last-child)::after {
      content: "";
      position: relative;
      margin: 0 3px 0 3px;
      border: 5px solid transparent;
      border-left: 7px solid $mainGrayDark;
    }
    &__link {
      font-size: 14px;
      line-height: 16px;
      margin-right: 16px;
    }
  }
}
