.slider {
  grid-area: slider;
  display: none;
  max-height: 100%;
  max-width: 100%;
}

@media (min-width: 1024px) {
  .slider {
    width: 410px;
    flex: 1 1;
    display: flex;
    min-height: 100%;
  }
}

@media (min-width: 1440px) {
  .slider {
    // max-width: 688px;
  }
}
