.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  &__container{
    padding-right: 32px;
    padding-left: 32px;
  }
  &__title {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
    @media(min-width: 1440px){
      font-size: 40px;
    }
  }
  &__text {
    font-size: 22px;
    color: #eeeeee;
    font-weight: 300;
    margin-bottom: 32px;
    line-height: 22px;
    @media(min-width: 1440px){
      font-size: 24px; 
      line-height: 21.6px;
    }
  }
  &__button {
    color: #fff;
    background: linear-gradient(to right, #13493f, #0c7b1b);
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    height: 48px;
    border-radius: 10px;
  }
}
