.dots{
    margin-top: 100px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    min-height: fit-content;
    position: relative;
    span{
        margin: 0 2.5px;
        display: block;
        background-color: #fff;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}