.footer{
    width: 100%;
    height: 72px;
    background-color: #151B1F;
    @media(min-width:768px){
        background-color: transparent;
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: inherit;
        padding: 16px;
        @media(min-width:768px){
            background-color: transparent;
            padding-left: 32px;
            padding-right: 32px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__tel{
        font-size: 13px;
        margin-bottom: 8px;
        color: #0EC261;
        @media(min-width:768px){
            order: 1;
            color: #121212;
            text-decoration: none;
        }
    }
    &__copyright{
        font-size: 13px;
        color:#eee;
        @media(min-width:768px){
            color: #999;
        }
    }

}