.order__form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  margin-bottom: 25px;
  @media (min-width: 768px) {
    margin-bottom: 45px;
  }
  &-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @media (min-width: 768px) {
  
    }
  }
  &-city {
    display: flex;
    font-size: 12px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    @media (min-width: 768px) {
      font-size: 14px;
      span {
        font-size: 14px;
      }
    }
  }
  &-point {
    width: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: flex-end;
    @media (min-width: 768px) {
        font-size: 14px;
        span {
          font-size: 14px;
        }
      }
  }
  &-input {
    outline: none;
    min-width: 180px;
    width: 60%;
    border: 0;
    border-bottom: 1px solid #999999;
    margin-left: 8px;
    padding-right: 0px;
    &:disabled{
      background-color: transparent;
      border-bottom: 1px solid #d3d3d3;
    }
  }
}
