.order__form{
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    &-container{
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &-city{
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
    }
    &-out{
        display: block;
        font-size: 12px;
    }
    &-input{
        outline: none;
        border: 0;
        border-bottom: 1px solid #999999;
        margin-left: 8px;
        padding-right: 30px;
    }
}