.content {
  margin-bottom: 100px;
  &__container {
    padding-left: 16px;
    padding-right: 16px;
    @media(min-width: 768px){
        padding-right: 32px;
        padding-left: 32px;
    }
    @media(min-width:1440px){
      padding-right: 64px;
      padding-left: 64px;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    span {
      font-size: 32px;
    }
    @media(min-width:768px){
        span{
            font-size: 70px;
        }
    }
    margin-bottom: 16px;
  }
  &__name {
    color: #0ec261;
  }
  &__text {
    font-size: 18px;
    color: #999;
    margin-bottom: 32px;
    @media(min-width: 768px){
        font-size: 26px;
    }
  }
  &__button {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #0ec261, #039f67);
    color: #fff;
    font-size: 18px;
    @media (min-width: 768px) {
      width: 250px;
      height: 48px;
      margin-left: 32px;
      margin-right: 32px;
      border-radius: 10px;
    }
    @media(min-width:1440px){
      margin-right: 64px;
      margin-left: 64px;
    }
  }
  &__subtitle {
    @media (min-width: 768px) {
      font-size: 70px;
    }
  }
  &__name {
    @media (min-width: 768px) {
      font-size: 70px;
    }
  }
}

