@import "../../../../vars.scss";

.content {
  margin-bottom: 100px;
  &__container {
    padding: 0 16px 0 16px;
  }
  &__title {
    display: flex;
    flex-direction: column;
    span {
      font-size: 32px;
    }

    margin-bottom: 16px;
  }
  &__name {
    color: $mainAccentColor;
  }
  &__text {
    font-size: 18px;
    color: $mainGrayDark;
    margin-bottom: 32px;
  }
  &__button {
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, $mainAccentColor, #039f67);
    color: $mainGrayBright;
    font-size: 18px;
    position: relative;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
    &:hover {
      transition: 0.2s all;
      background: linear-gradient(to right, #0b934a, #026e47);
    }
    &:active {
      transition: 0.2s all;
      background: linear-gradient(to right, #076432, #013c27);
    }
    &:disabled {
      transition: 0.2s all;
      background: $mainGrayBright;
    }
  }
}

//* ---------------------------------------

@media (min-width: 768px) {
  .content {
    margin-bottom: 0;
    &__container {
      padding: 0 32px 0 32px;
    }
    &__title {
      span {
        font-size: 70px;
      }
    }
    &__text {
      font-size: 26px;
      margin-bottom: 64px;
    }
    &__button {
      width: 250px;
      height: 48px;
      margin: 0px 32px 0px 32px;
      border-radius: 10px;
    }
    &__subtitle {
      font-size: 70px;
    }
    &__name {
      font-size: 70px;
    }
  }
}

//* ---------------------------------------

@media (min-width: 1440px) {
  .content {
    &__container{
      padding: 0 64px 0 64px;
    }
    &__button {
      margin: 0 64px 0 64px;
    }
  }
}
