@import "../../vars.scss";

.total-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  opacity: 0.92;
  background-color: #fff;
  transition: 0.2s all;
  z-index: 10;
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__heading {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s all;
    &:hover {
      border-radius: 8px;
    }
  }
  &__accept {
    background: $homeButtonStandart;
    margin-right: 16px;
  }
  &__back {
    background: $buttonSlide3;
  }
}
.total-popup.active {
  right: 0;
}
