
.page{
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
  &--home{
    grid-template-columns: 1fr;
    grid-template-areas: 'main';
    @media(min-width: 768px){
      grid-template-columns: 85px 1fr;
      grid-template-areas: 'aside main';
    }
    @media(min-width: 1024px){
      grid-template-columns: 65px 1fr 410px;
      grid-template-areas: 'aside main slider';
    }
    @media(min-width: 1440px){
      grid-template-columns: 65px 1fr 688px;
    }
  }
  &--order{
    grid-template-columns: 1fr;
    grid-template-areas: 'order';
  }
}
