
.page{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'm';
  min-height: 100vh;
  @media(min-width: 768px){
    grid-template-columns: 85px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'a m';
  }
  @media(min-width: 1024px){
    grid-template-columns: 65px 1fr 410px;
    grid-template-rows: 1fr;
    grid-template-areas: 'a m s';
  }
}