$mainAccentColor: #0ec261;
$mainBlack: #121212;
$mainGrayDark: #999999;
$mainGrayBright: #eeeeee;

$buttonSlide1: linear-gradient(to right, #13493f, #0c7b1b);
$buttonSlide2: linear-gradient(to right, #132949, #0c7b67);
$buttonSlide3: linear-gradient(to right, #493013, #7b0c3b);
$buttonSlide4: linear-gradient(to right, #281349, #720c7b);

$homeButtonStandart: linear-gradient(to right, #0EC261, #039F67);
$homeButtonHover: linear-gradient(to right, #0b934a, #026e47);
$homeButtonActive: linear-gradient(to right, #076432, #013c27);
