.dots {
  position: relative;
  z-index: 4;
  margin-bottom: 92px;
  &__container {
    display: flex;
    min-width: 45px;
    min-height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    @media (min-width: 1440px) {
    }
    span {
      margin: 0 4px;
      display: block;
      background-color: #fff;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    span.active {
      background-color: rgba(14, 194, 97, 1);
    }
  }
}
