.dots{
    display: flex;
    min-width: 45px;
    min-height: fit-content;
    position: absolute;
    bottom: -80%;
    left: 40%;
    @media(min-width:1440px){
        bottom: -100%;
        left: 45%;
    }
    span{
        margin: 0 4px;
        display: block;
        background-color: #fff;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
    span:nth-child(1){
        background-color: #0EC261;
    }
}