.order {
  max-width: inherit;
  max-height: 100%;
  &__container {
    min-height: 100vh;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 250px;
    }
  }
  &__order-block {
    height: fit-content;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
  }
}
