.steps {
    margin-top: 36px;
    border-top: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    margin-bottom: 32px;
  &__wrapper {
      margin: 8px 0px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    
    &:not(:last-child)::after {
      content: "";
      position: relative;
      margin-right: 19px;
      border: 5px solid transparent;
      border-left: 6px solid rgba(153, 153, 153, 1);
    }
    &:not(:last-child) {
      
    }
  }
  &__link {
    margin-right: 19px;
    text-decoration: none;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    font-weight: 700;
    &.active{
        color: rgba(14, 194, 97, 1);
    }
  }
}
